option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app  
    NumProcesses: 3
    NumThreads: 20

container_commands:
  01_increase_nginx_types_hash:
    command: |
      echo "types_hash_max_size 2048;" >> /etc/nginx/nginx.conf
      echo "types_hash_bucket_size 128;" >> /etc/nginx/nginx.conf

commands:
  01_timeout:
    command: "echo 'Timeout 1800' >> /etc/httpd/conf/httpd.conf"  
